<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
    <header th:fragment="header(layoutType)">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">E-Commerce</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
                        <li class="nav-item"><a class="nav-link" href="/cart">Cart</a></li>
                        <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                        <li class="nav-item" sec:authorize="!isAuthenticated()">
                            <a class="nav-link" href="/account/login">Login</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <form th:action="@{/account/logout}" method="post" style="display:inline;">
                                <button type="submit" class="nav-link btn btn-link">Đăng Xuất</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>